*{

box-sizing:border-box;

}



body{


margin:0;


font-family:

Arial,
sans-serif;


background:#f5f6fa;


padding-bottom:80px;


}



/*
=================
CONTENT
=================
*/


#content{


padding:20px;


min-height:100vh;


}





/*
=================
PAGE ANIMATION
=================
*/


.page-animation{


animation:

slideIn
0.25s ease;


}



@keyframes slideIn{


from{


opacity:0;


transform:
translateX(30px);


}


to{


opacity:1;


transform:
translateX(0);


}


}





/*
=================
BOTTOM NAV
=================
*/


.bottom-nav{


position:fixed;


bottom:0;


left:0;


right:0;


height:75px;


background:white;


display:flex;


justify-content:space-around;


align-items:center;


border-radius:

20px 20px 0 0;


box-shadow:

0 -5px 20px rgba(0,0,0,.12);



z-index:999;


}





.bottom-nav button{


border:none;


background:none;


font-size:12px;


display:flex;


flex-direction:column;


align-items:center;


gap:5px;


color:#555;


}



.bottom-nav span{


font-size:22px;


}




.bottom-nav button:active{


transform:

scale(.9);


}

/* =================
HOME DASHBOARD
================= */


.welcome-card{


background:#2563eb;


color:white;


padding:20px;


border-radius:20px;


margin-bottom:20px;


}



.attendance-card{


background:white;


padding:20px;


border-radius:20px;


box-shadow:
0 5px 15px rgba(0,0,0,.08);


}



.time-row{


display:flex;


justify-content:space-around;


text-align:center;


}



.time-row p{


color:#777;


}



.stats{


display:flex;


gap:15px;


margin-top:20px;


}



.stat-card{


flex:1;


background:white;


padding:20px;


border-radius:20px;


text-align:center;


box-shadow:
0 5px 15px rgba(0,0,0,.08);


}
